<form method="post" action="{{ path('utilisateurs_delete', {'idUtilisateurs': utilisateur.idUtilisateurs}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.idUtilisateurs) }}">
    <button class="btn">Delete</button>
</form>
