{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUtilisateurs</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Niveau</th>
                <th>MargeCommerciale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.idUtilisateurs }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.niveau }}</td>
                <td>{{ utilisateur.margeCommerciale }}</td>
                <td>
                    <a href="{{ path('utilisateurs_show', {'idUtilisateurs': utilisateur.idUtilisateurs}) }}">show</a>
                    <a href="{{ path('utilisateurs_edit', {'idUtilisateurs': utilisateur.idUtilisateurs}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_new') }}">Create new</a>
{% endblock %}
