{% extends "base.html.twig" %}

{% block body %}
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Disponible dès maintenant</h4>
              <h2>ACME products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">Tous les Produits</li>
                  <li data-filter=".1-Basket">Basket</li>
                  <li data-filter=".2-bateau">Chaussures bateau</li>
                  <!-- <li data-filter=".dev">Flash Deals</li>
                  <li data-filter=".gra">Last Minute</li> -->
              </ul>
            </div>
          </div>
          {% for produit in produits %}
              
          <div class="col-md-12">
              <div class="filters-content">
                  <div class="row grid">
                      <div class="col-lg-4 col-md-4 all {{produit.idCategorie}}">
                          <div class="product-item">
                              <div class="div-image1"><a class ="img-ref" href=""><img src="{{produit.image}}" alt="{{produit.nom}}"></a></div>
                              <div class="down-content">
                                  <a href="#"><h4>{{produit.nom}}</h4></a>
                                  <h6><strong>{{produit.prixdeventeunitaire}}€</strong></h6>
                                  <p>{{produit.reference}}</p>
                                  <p><button type="button" class="btn btn-secondary">Ajouter</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12">
            <ul class="pages">
              <li class="active"><a href="">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2022 Groupe 1 Co. - Design: Groupe 1</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>


    <!-- Additional Scripts -->
    <script src="{{ asset("js/custom.js") }}"></script>
    <script src="{{ asset("js/accordions.js") }}"></script>
    <script src="{{ asset("js/isotope.js") }}"></script>
    <script src="{{ asset("js/owl.js") }}"></script>
    <script src="{{ asset("js/slick.js") }}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

    <script src="js/main.js"></script>
  </body>

{% endblock body %}