{% extends "base.html.twig" %}

{% block body %}
<body>

<!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h3>Page produit</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="produit-item">
        <div class="produit-image1"><a class ="img-ref" href="produit.html"><img src="{{detail[0].image}}" alt="{{detail[0].nom}}"></a></div>
        <div class="down-content">
          <a href="#"><h4>"{{detail[0].nom}}"</h4></a>
          <h6>"{{detail[0].prixdeventeunitaire}}"</h6>
          <p>Baskets Grandstand homme de chez Nike.</p>
          <p>Choisissez la poiture :</p>
          <select name="poiture_select">
            <option>35</option>
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option selected="yes">40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>          
          </select>
          <br><br><br>
          <p>Choisissez la largeur :</p>
          <select name="largeur_select">
            <option>S</option>
            <option selected="yes">M</option>
            <option>L</option>        
          </select>
          <br><br><br>
          <ul class="stars">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    
   <!-- Bootstrap core JavaScript -->
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>


    <!-- Additional Scripts -->
    <script src="{{ asset("js/custom.js") }}"></script>
    <script src="{{ asset("js/accordions.js") }}"></script>
    <script src="{{ asset("js/isotope.js") }}"></script>
    <script src="{{ asset("js/owl.js") }}"></script>
    <script src="{{ asset("js/slick.js") }}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>
{% endblock body %}