<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("css/master.css") }}">
    <link rel="stylesheet" href="{{ asset("css/fontawesome.css") }}">
    <link rel="stylesheet" href="{{ asset("css/templatemo-sixteen.css") }}">
    <link rel="stylesheet" href="{{ asset("css/owl.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <link rel="manifest" href="/manifest.json"> 
    <meta name="theme-color" content="white"/>

    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">

                <div class="left-right" style="display:flex; justify-content:space-around">

                    <div class="left">
                        <a style="color:RGB(236, 240, 241)" href="">Collection</a><br>
                        <a style="color:RGB(236, 240, 241)" href="">Historique</a><br>
                        <a style="color:RGB(236, 240, 241)" href="">Panier</a><br>
                        <a style="color:RGB(236, 240, 241)" href="">Profil</a><br>
                        <a style="color:RGB(236, 50, 50)" href="">Deconnexion</a><br>
                    </div>

                    {% if true %}
                    <div class="right">
                        <a style="color:RGB(236, 240, 241)" href="{{ path('utilisateurs_index') }}">Utilisateurs</a><br>
                        <a style="color:RGB(236, 240, 241)" href="{{ path('categorie_index') }}">Categorie</a><br>
                        <a style="color:RGB(236, 240, 241)" href="{{ path('produit_index') }}">Produit</a><br>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p style="color:RGB(236, 50, 50); margin:5px ;">NOM Prenom Statut</p>
            <a href=""><img src="{{ asset(" images/")}}" alt=""></a> <!-- panier-->


        </nav>
    </div>
    {% endblock header %}

    {% block body %}{% endblock %}

    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>Copyright &copy; 2022 Groupe 1 Co. - Design: Groupe 1</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
</body>

</html>